@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Nunito:wght@700&family=Yellowtail&display=swap');

/*Configurações globais*/
body{
    font-family: 'Nunito', sans-serif;
    color: #1c1c1c;
}

h1, h2, h3{
    font-family: 'Asap', sans-serif;
    color: #000000;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
/*Fim das Configurações globais*/

/*Nav*/
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

nav > a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}
/*Fim do Nav*/

/*Slider*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/img-slider.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1{
    color: #ffffff;
}

header p{
    margin-bottom: 2em;
}

.botão{
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #ffc107;
    font-size: .9em;
    border-radius: 3px;
}
/*Fim do Slider*/

/*Serviços*/
#serviços{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#serviços div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
/*Fim do Serviços*/

/*Portfólio*/
.section_head h1{
    font-size: 50px;
    font-weight: 100;
    line-height: 60px;
    font-family: 'Asap', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}

.seção_cinza{
    background-color: #e5e5e5;
    padding-top: 90px;
    padding-bottom: 90px;
}

.portf{
    flex-wrap: wrap;
}
.portf-cards1{
    display: flex;
    margin-top: 20px;
    margin: 0 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}

.portf-cards2{
    display: flex;
    margin-top: 20px;
    margin: 0 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}

.portf .card{
    width: 250px;
    height: 360px;
    background: white;
    margin: 25px auto;
    margin-top: 30px;
}

.portf .card-content {
    padding: 6px 15px;
}

.portf .card-content h1{
    margin: 0;
    text-align: center;
    font-size: 20px;
}

.portf .card-image{
    width: 250px;
    height: 300px;
}
/*Fim do Portfólio*/

/*Sobre*/
.seção_branca{
    background-color: white;
    padding-top: 90px;
    padding-bottom: 90px;
}

.container-timeline{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.timeline{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul{
    list-style: none;
}

.timeline li{
    padding: 20px;
    background-color: #e5e5e5;
    border-radius: 10px;
    margin-bottom: 20px;
}

.timeline ul li:last-child{
    margin-bottom: 0;
}

.timeline-content h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.timeline-content p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    font-family: 'Contrail One', sans-serif;
}

.timeline-content .date{
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

@media only screen and (min-width: 768px){
    .timeline::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #e5e5e5;
    }
    .timeline ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0 20px 20px;
    }
    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0 20px 20px 20px;
    }
    .timeline ul li::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #e5e5e5;
        border-radius: 50%;
        top: -6px;
    }
    .timeline ul li:nth-child(odd)::after{
        transform: translate(50%, -50%);
        right: -30px;
    }
    .timeline ul li:nth-child(even)::after{
        transform: translate(-50%, -50%);
        left: -30px;
    }
    .timeline-content .date{
        position: absolute;
        top: -30px;
    }
}
/*Fim do Sobre*/

/*Time*/
.container{
    width: 100%;
    height: 100vm;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
}

.card-time{
    height: 360px;
    background: #e5e5e5;
    margin: 25px auto;
    margin: 30px 70px 0 70px;
    align-items: center;
}

.time-lista{
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
}

.time-figure{
    width: 215px;
    height: 215px;
    border-radius: 50%;
    overflow: hidden;
}

.time-figure img{
    width: 100%;
}

.funções h3{
    font-size: 30px;
    font-weight: 100;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}

.funções p{
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    font-family: 'Contrail One', sans-serif;
    text-align: center;
}

.redes-sociais img{
    width: 50px;
    height: 50px;
    margin: 10px 10px;
}
/*Fim do Time*/

/*Parceiros*/
.seção_branca1{
    margin: 35px 0;
}/**/

.caixa-parceiros .parceiros ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.caixa-parceiros .parceiros ul li{
    margin-left: 180px;
}

.caixa-parceiros .parceiros img{
    height: 70px;
    margin: 15px auto;
}
/*Fim dos Parceiros*/

/*Contato*/
.formulário-contato{
    background-color: black;
}

.section_head1 h1{
    font-size: 50px;
    font-weight: 100;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 20px 0;
    color: white;
}

.section_head1 p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    font-family: 'Contrail One', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    color: white;
}

.content{
    display: flex;
    justify-content: center;
}

.contato{
    width: 100%;
    max-width: 500px;
}

.form{
    display: flex;
    flex-direction: column;
}

.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-weight: lighter;
}

.textarea{
    height: 150px;
}
/*Fim do Contato*/

/*Footer*/
.caixa-footer .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixa-footer .footer p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-left: 300px;
    margin-right: 37px
}

.caixa-footer .footer li{
    justify-content: space-between;
    margin: 0 20px;
}

.caixa-footer .footer ul{
    display: flex;
}

.caixa-footer .footer ul li{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-weight: lighter;
}

.caixa-footer .footer ul li:last-child{
    margin-right: 200px;
}

.caixa-footer .footer img{
    width: 50px;
    height: 50px;
}
/*Fim do Footer*/

@media screen and (min-width: 768px){
    nav{
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul{
        flex-direction: row;
        width: 70%;
    }

    header{
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    #sobre{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    #serviços{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #serviços h1{
        text-align: center;
        width: 100%;
        font-size: 50px;
    }

    #serviços div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;

    }
}